spring:
  application:
    name: school
  datasource:
    url: jdbc:mysql://localhost:3306/school_db2?createDatabaseIfNotExist=true
    username: root
    password: admin
  jpa:
    show-sql: true
  kafka:
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.type.mapping: itemDemoDto:com.pxc.school.kafka.ItemDemoDto, unitDemoDto:com.pxc.school.kafka.UnitDemoDto
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        register: true
        health-check-path: /actuator/health

server:
  port: 8080
